<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background-color: black; color: white; padding:15px;">
            SongMinGyu
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="container">
        <h1 style="margin:20px;">게시판</h1>
        <div class="table-responsive">
            <table class="table table-condensed table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <td>삭제</td>
                        <td>수정</td>
                        <td>글 번호</td>
                        <td>작성자</td>
                        <td>제목</td>
                        <td>날짜</td>
                        
                    </tr>
                </thead>
                <tbody>
                        <%
                            for(var i=0; i<rows.length; i++) {
                        %>
                    <tr>
                            <td><a href="/post/delete/<%= rows[i].BRDNO%>">DELETE</a> </td>
                            <td><a href="/post/update/<%= rows[i].BRDNO%>">UPDATE</a> </td>
                            <td><%=rows[i].BRDNO%></td>
                            <td><%=rows[i].writer%></td>
                            <td><a href="/post/list/<%= rows[i].BRDNO%>"><%=rows[i].title%></a></td>
                            <td><%=rows[i].dt%></td>
                    </tr>
                        <%
                             }
                        %>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" type="button" onclick="location.href='/post/create'">create</button>
    </div>
</body>
</html>